
body{
    margin: 0px;
    padding: 0px;
    background: #F3F5FC;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: auto;
    width: 940px;
    height: 650px;
    padding: 5px;
    background: #609ED4;
}
.logo{
    width: 100%;
    float: left;
    background: #356EA9;
}
.left-container{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 10px;
    background: #AAB2D5;
}
.right-container{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 10px;
    background: #ADB5BD;
}
.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 10px;
    background: #495057;
}
.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #F3F5FC;
}