
body{
    margin: 60px 50px;
    padding: 0px;
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
}
.container{
    display: grid;
    gap: 10px;
    grid-template-columns: 500px 280px;
    grid-template-rows: 200px;
    place-content: center;
    grid-template-areas: 
    "five three"
    "one three"
    "two three";
}
.item1{
    grid-area: one;
    margin: 10px 10px;
}
.item1 .input-text{
    width: 450px;
    height: 250px;
    text-align: center;
    font-size: 20px;
}
.item1 textarea{
    background-color: #F3F5FC;
    border-color: #F3F5FC;
}
::placeholder{
    color: #0A3871;
}
.item2{
    grid-area: two;
}
.item3{
    grid-area: three;
    margin: 10px 0px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.item3 .message{
    width: 270px;
    height: 500px;
    margin: 2px 2px;
    background-image: url("https://res.cloudinary.com/kenobi22v/image/upload/v1660228751/encriptador-texto/Mu%C3%B1eco_mipjyx.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 220px;
}
.item3 textarea{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.item4{
    grid-area: four;
}
.item5{
    grid-area: five;
}

/*Contenedor izquierdo*/
.left-container{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 10px;
}

.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #F3F5FC;
}
/*Contenedor derecho*/
.right-container{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 10px;
    background: #FFFFFF;
}
.munheco{
    margin-left: 4%;
    margin-top: 20%;
    width: 90%;
    height: auto;
}
.texto-mensaje{
    margin-left: 5%;
    margin-right: 5%;
}
.texto-mensaje2{
    float: left;
    margin-left: 10%;
    color: #0A3871;
    width: 80%;
    height: 50%;
    border: none;
    outline: none;
    font-size: 15px;
}
/*Contenedor izquierdo inferior - botones*/
.btn-encrypt{
    padding: 15px;
    width: 30%;
    height: 20%;
    border-radius: 10px;
    margin-left: 15%;
    background: #0A3871;
    color: #D8DFE8;
}
.btn-decrypt{
    padding: 15px;
    width: 30%;
    height: 20%;
    border-radius: 10px;
    margin-left: 5%;
    background: #D8DFE8;
    color: #0A3871;
}
.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 10px;
}
.left-button p{
    font-size: smaller;
    margin-left: 110px;
}
.item::before{
    content: "image.png";
}

.btn-copy{
    padding: 15px;
    width: 80%;
    margin: 5px 30px;
    color: black;
    background: #D8DFE8;
    border-radius: 10px;
}

