
body{
    margin: 0px;
    padding: 0px;
    background: #F3F5FC;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: grid;
    gap: 10px;
    grid-template-columns: 500px 300px;
    grid-template-rows: 200px;
    place-content: center;
    grid-template-areas: 
    "one three"
    "two four";
}
.item1{
    grid-area: one;
}
.item2{
    grid-area: two;
}
.item3{
    grid-area: three;
}
.item4{
    grid-area: four;
}


/*Contenedor superior*/
.logo{
    width: 100%;
    float: left;
}
/*Contenedor izquierdo*/
.left-container{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 10px;
}

.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #F3F5FC;
}
/*Contenedor derecho*/
.right-container{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 10px;
    background: #FFFFFF;
}
.munheco{
    margin-left: 4%;
    margin-top: 20%;
    width: 90%;
    height: auto;
}
.texto-mensaje{
    margin-left: 5%;
    margin-right: 5%;
}
.texto-mensaje2{
    float: left;
    margin-left: 10%;
    color: #0A3871;
    width: 80%;
    height: 50%;
    border: none;
    outline: none;
    font-size: 15px;
}
/*Contenedor izquierdo inferior - botones*/
.btn-encrypt{
    padding: 15px;
    width: 30%;
    height: 20%;
    border-radius: 20px;
    margin-left: 15%;
    background: #0A3871;
    color: #D8DFE8;
}
.btn-decrypt{
    padding: 15px;
    width: 30%;
    height: 20%;
    border-radius: 20px;
    margin-left: 5%;
    background: #D8DFE8;
    color: #0A3871;
}
.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 10px;
}
.left-button p{
    font-size: smaller;
    margin-left: 110px;
}
.item::before{
    content: "image.png";
}
/*
.btn-copy{
    padding: 15px;
    width: 40%;
    height: 10%;
    color: black;
    background: #D8DFE8;
    border-radius: 20px;
    display: none;
}
*/
